h1{
    text-align: center;
    
}

.header {
    background-color: #717fe0;
    padding: 40px ;
    color: white;

}
.qty{
    text-align: center;
    width: 500px;
    display: inline-block;
}
.qty .count {
    color: #717fe0;
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 2px;
    min-width: 35px;
    text-align: center;
}
.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial, sans-serif;
    text-align: center;
    border-radius: 50%;
    position: relative;
    left: 280px;

}

.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
    position: relative;
    left: 280px;
}
/* div {
   
    text-align: center;
} */
.minus:hover{
    background-color: #717fe0 !important;
}
.plus:hover{
    background-color: #717fe0 !important;
}
/*Prevent text selection*/
span{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.qty input{  
    border: 0;
    width: 2%;
    position: relative;
    left: 280px;
}
.qty input::-webkit-outer-spin-button,
.qty input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.qty input:disabled{
    background-color:white;
}

.qty p {
    position: relative;
    left: 280px;
    padding-top: 13px ;
}
         
/* Icon modification */

.icon {
    margin: 0% 0.75% 0% 0.5%;
    padding-top: 20px;
    

    
}
.font-div{
    text-align: center;

}
/* Height  */
.height-div{
    width: 500px;
    display: inline-block;
    position: relative;
    left: 380px;
    
}
.height-div p{
    padding-top: 13px;
}

.heigt{
    background: transparent;
    border:none;
    border-bottom: 1px solid black;
    outline: none;
    box-shadow: none;
    width: 100px;
    color: #717fe0;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}

/* Button */
.btn-bmi {
    margin-top: 20px;
    text-align: center;
    background-color: #717fe0;
    position: relative;
    left: 600px;
    color: white;
    width: 300px;
    height: 70px;
    border: none;
    border-radius: 2em ;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    
}