body{
    background-image: url("../images/background_image1.png") ;
}


.outer-div {
    /* text-align: center; */
    margin: auto;
    width: 70vw;
    height: 65vh;
    padding: 100px ;   
}

.mid-div {
    width: 500px;
    margin: auto;
    height: 400px ;
    position: relative;
    left: 400px ;
    padding: 20px 0px 70px 0px;
    background-color: #F7D716;
    border-radius: 5%;
    
}

.inner-div{
    margin: auto;
    background-color: #fff;
    height: 400px;
    width: 405px;
    /* position: relative;
    left: 400px; */
    text-align: center;
    border-radius: 3%;
}

h1 {
    padding-top: 50px;
    font-family: "Monserrate-Bold";
    font-size: 2rem;   
}

h6{
    font-family: "Monserrate-Bold";   
    padding: 0px 35% 0px 0px;

}

.fontaws-icon {
    padding: 20px 65px;
}

.input {
    padding: 15px 10px 15px 20px;
    width: 200px;
    height: 15px;
    border-radius: 15px 50px;
}
