/*........element selector......... */
h1 {
    margin-top: 0;

}
body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
/* ........class tag........... */
.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

/*...........ID selector.................. */
.middle-container {
    background-color: red;
    height: 200px;
    width: 200px;
}

.bottom-container {
    background-color: blue;
    height: 200px;
    width: 200px;
    display: block;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
    
}